/*--------------------------
    variables
---------------------------*/
//fonts
$primary-font: 'Poppins', sans-serif;
$secondary-font: 'Calibre-SemiBold', sans-serif;
$tertiary-font: 'Calibre-Medium', sans-serif;

//colors
$primary-color: #182538;
$secondary-color: #8b929b;
$tertiary-color: #941da1;
$white: #ffffff;
$black: #000000;
$yellow: #fff3d8;
